[submodule "src/pycolmap"]
	path = src/pycolmap
	url = https://github.com/rmbrualla/pycolmap.git
[submodule "submodule.src/pycolmap.path"]
	path = src/pycolmap
	url = https://github.com/rmbrualla/pycolmap.git
	branch = master
